{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name_prod }}</h4>
                </div>
                <img class="card-img-top"
                     src="{{ object.image | my_media }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.purchase_price }}p</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.description_prod | slice:50 }}</li>
                        <br>
                        <li>
                            {% if versions.exists %}
                                {% for version in object.version.all %}
                                        {% if version.indicates_current_version %}
                                            <p>Активная версия продукта: {{ version.version_name }}</p>
                                        {% else%}
                                            <p>Не активная версия: {{ version.version_name  }}</p>
                                        {% endif %}
                                            {% empty %}
                                                <p>У продукта нет версий.</p>
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:about' object.pk %}">Выбрать</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
