{% load static %}
<!doctype html>
<html lang="en">
{% include 'catalog/head.html' %}
<body>
{% include 'catalog/nav.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Редактировать блог</h1>

</div>
<div class="container">
    <div class="row text-center">
        {% block content %}
            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card md-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">
                                {% if object.is_published %}
                                    {{ object| title }}
                                {% else %}
                                    <span class="text-muted">{{ object| title }}</span>
                                {% endif %}
                            </p>
                            <div class="b-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'catalog:create' %}"
                                       class="btn btn-outline-primary">Создать</a>
                                    <a href="{% url 'catalog:edit' object.slug %}"
                                       class="btn btn-outline-primary">Обновить</a>
                                    <a href="{% url 'catalog:delete' object.slug %}"
                                       class="btn btn-outline-primary">Удалить</a>
                                </div>
                                {% if object.is_published %}
                                    <a href="{% url 'catalog:is_published_activity' object.slug %}"
                                       class="btn btn-warning">Деактивировать</a>
                                {% else %}
                                    <a href="{% url 'catalog:is_published_activity' object.slug %}"
                                       class="btn btn-success">Активировать</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    </div>
    {% include 'catalog/footer.html' %}
</div>
<script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>